body{margin: 0px;
background:radial-gradient(rgb(255, 255, 255),rgb(194, 38, 38));
width: 1200px;
height: 1000px;
font-size: 16px;
line-height: 26px;
font-family: "Arial", sans-serif;
color: #222222;}
header{padding-left: 50px;
background-color: #e61919;}
	nav {
			    margin: 0px 0;
			    background-color: #e61919;
			}
			
			/* убираем отступы и поля, а также list-style для "ul", 
			 * и добавляем "position:relative" */
			nav ul {
			    padding:0;
			    margin:0;
			    list-style: none;
			    position: relative;
			    }
			
			/* применяем inline-block позиционирование к элементам навигации */
			nav ul li {
			    margin: 0px -7px 0 0;
			    display:inline-block;
			    background-color: #e61919;
			    }
			
			/* стилизуем ссылки */
			nav a {
			    display:block;
			    padding:0 10px;
			    color:#FFF;
			    font-size:20px;
			    line-height: 60px;
			    text-decoration:none;
			}
			
			/* изменяем цвет фона при наведении курсора */
			nav a:hover {
			    background-color: #ff0000;
		}
        li{border: solid 3px;}
        main{margin: 25px 25px;
        background: url(https://vdp.mycdn.me/getImage?id=370256644759&idx=6&thumbType=32);
        width: 720px; 
        height: 405px;
        background-repeat: no-repeat;
        border: solid 3px;
    }
    p{font-size: 30px;
    color: rgb(13, 13, 112);
padding-left: 100px;}
*, *:after, *:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: .5s ease-in-out;
	/* добавим плавность переходов для всех элементов страницы*/
 }
 ul {
	list-style: none;
 }
 a {
	text-decoration: none;
	outline: none;
 }
 img {
	display: block;
	width: 100%;
 }
 h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display';
	font-weight: normal;
	letter-spacing: 1px;
 }
 body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #373737;
	background: #e61919;;
 }
 /* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
 header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
	content: "";
	display: table;
	clear: both;
 }
 /* стилевой класс, который управляет шириной контейнера сетки*/
 .container {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	padding: 0 15px;
 }
